* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #757783;
}



/* top nav */
.top-nav {
    /* justify-content: space-around; */
    background-color: #313041;
    /* justify-content: space-around; */
    display: flex;
    width: 100%;

    div {
        padding: 20px;
        align-items: center;
        display: flex;
        margin-left: 40px;

        p {
            width: 150px;
            color: white;
        }

        i {
            width: 40px;
            font-size: 20px;
            color: green;
        }
    }
}

/* navbar */
/* .home-bar{
    display: none;
} */
nav {
    box-shadow: 10px 10px 40px -30px black;
    padding: 20px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    div {
        /* width: 50%; */
        display: flex;
        /* margin-left: -20px; */
        align-items: center;

        .navlink a {
            font-size: 25px;
            margin-left: 30px;
            font-weight: 100;


        }

        .navlink a:hover {
            text-decoration: underline;
            text-decoration-color: #e04b4b;
            text-underline-offset: 34px;
        }
    }

    i {
        /* color: white; */
        /* border: 1px solid ; */

    }

    /* dropdown */
    .dropdown {
        float: left;
        overflow: hidden;

    }

    .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        padding: 20px;
        border-radius: 100%;
        background-color: #faf5ee;
        font-family: inherit;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        padding: 15px;
        border-radius: 20px;
    }

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: underline;
        text-underline-offset: 10px;
        text-decoration-thickness: 1px;
        display: block;
        text-align: left;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}

/* contact */
/* .container {
    max-width: 1440px;
    width: 100%;
    margin: 50px auto 50px auto;
} */
.contact {
    margin: 50px 0px 20px 50px;
    /* padding-left: 40px; */
    text-align: center;

    p {
        color: #da5252;
        font-family: Passions Conflict, cursive;
        font-size: 40px;
    }

    h3 {
        font-size: 30px;
    }
}

.contact-container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    column-gap: 20px;

    iframe {
        width: 800px;
        height: 300px;
        /* padding-right: 40px; */
    }

}

.contact-right {
    padding: 30px;
    border: 1px solid black;
    border-radius: 25px;
    height: fit-content;
    width: min-content;

    p {
        color: #8c8d97;
    }

    div {
        margin-top: 20px;

        .phone {
            display: flex;
            gap: 20px 20px;

            p {
                color: #8c8d97;
            }
        }

        .email {
            display: flex;
            gap: 20px 20px;

            p {
                color: #8c8d97;
            }
        }

        .location {
            display: flex;
            gap: 20px 20px;

            p {
                color: #8c8d97;
            }
        }
    }
}

/* footer */
footer {
    background-color: #313040;

    /* top footer */
    .top-footer {
        display: flex;
        flex-wrap: wrap;
        column-gap: 50px;
        justify-content: space-around;
        padding: 50px 20px;

        /* top footer bhitra koni 1st */
        .footer-first {
            width: 320px;

            p {
                color: #a9a8b5;
                font-size: 16px;
            }

            hr {
                color: #a9a8b5;
                margin-top: 30px;
            }

            div {
                margin-top: 20px;

                .footer-phone {
                    display: flex;
                    gap: 20px 20px;

                    p {
                        color: #a9a8b5;
                        font-size: 16px;
                    }

                    i {
                        color: green;
                        font-size: 20px;
                    }
                }

                .footer-email {
                    display: flex;
                    gap: 20px 20px;

                    p {
                        color: #a9a8b5;
                        font-size: 16px;
                    }

                    i {
                        color: red;
                        font-size: 20px;
                    }
                }

                .footer-location {
                    display: flex;
                    gap: 20px 20px;

                    p {
                        color: #a9a8b5;
                        font-size: 16px;
                    }

                    i {
                        color: red;
                        font-size: 20px;
                    }

                }
            }
        }

        /* footer 2nd */
        .footer-second {
            width: 320px;

            p {
                color: #a9a8b5;
                font-size: 16px;
                /* text-align: justify; */
            }

            hr {
                color: #a9a8b5;
                margin-top: 30px;
            }

            div {
                margin-top: 20px;

                .footer-secphone {
                    display: flex;
                    gap: 20px 20px;

                    p {
                        color: #a9a8b5;
                        font-size: 16px;
                    }

                    i {
                        color: green;
                        font-size: 20px;
                    }
                }

                .footer-seclocation {
                    display: flex;
                    gap: 20px 20px;

                    p {
                        color: #a9a8b5;
                        font-size: 16px;
                    }

                    i {
                        font-size: 20px;
                        color: red;
                    }

                }
            }
        }

        /* footer 3rd */
        .footer-third {
            width: 200px;

            h4 {
                color: white;
                font-size: 20px;
            }

            div {
                display: grid;
                grid-template-rows: auto;
                /* margin-top: 20px; */

                a {
                    font-size: 20px;
                    color: #a9a8b5;
                    margin-top: 20px;
                }
            }
        }
    }

    /* down footer */
    .down-footer {
        background-color: white;
        align-items: center;
        display: flex;
        justify-content: space-around;
        text-align: center;
        width: 80%;

        .footer-icon {
            padding: 30px;

        }

        p {
            float: right;
        }
    }
}

/* package container*/
.package-container {
    max-width: 1440px;
    padding: 50px;
    margin: 0 auto;
}

.package-heading {
    font-size: 50px;
    margin: 40px 0px 20px 20px;
    /* padding-left: 20px; */
}

/* image container */
.package {
    display: grid;
    justify-items: center;
    /* justify-content: center; */
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    flex-wrap: wrap;
    /* gap: 30px 20px; */
    /* margin: 50px 30px 0px 0px; */
}

/* single image */

.member {
    position: relative;
    z-index: 5;

}

/* .image-wrapper {
    width: 350px;
    height: 250px;
} */

.image-wrapper img {
    border-radius: 20px;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.image-wrapper::after {
    content: "";
    position: absolute;
    /* width: 450px;*/
    height: 250px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    background: #092a49a1;
}

/* features and watchlist */
.package-features {
    color: white;
    padding: 10px 20px;
    /* height: 40px; */
    /* width: 85px; */
    /* align-items: center; */
    text-align: center;
    background-color: #40826b;
    position: absolute;
    top: 20px;
    left: 20px;
    /* border: 1px solid black; */
    border-radius: 10px;
}

.package-watchlist {
    /* color: white; */
    padding: 10px;
    width: 85px;
    position: absolute;
    background-color: white;
    top: 20px;
    right: 20px;

    border-radius: 10px;
}

/* hover */
.package-watchlist:hover {
    color: white;
    /* font-size: xx-large; */
    background-color: #e04b4b;
}

.info {
    position: absolute;
    color: white;
    bottom: 0px;
    border-radius: 14px;
    line-height: 1.5;

    i {
        /* margin-right: 5px; */
        color: red;
    }

    h3 {
        font-size: 21px;


    }

    p {
        font-size: 20px;

        span {
            color: red;
            font-size: 20px;
        }
    }
}

.info1 {
    padding: 15px;

}

/* hoover */
.info:hover {
    width: 100%;
    color: black;
    box-shadow: 10px 10px 50px black;
    /* height: 150px; */
    /* background-color: rgb(21, 1, 1); */
    /* border: 1px solid black; */
    transition: 1s;
    cursor: pointer;
    background-color: white;
}

/* Destination */
.destination-container {
    /* width: 95%; */
    padding: 50px;
}

.destination-heading {
    text-align: center;
    line-height: 1.5;

    p {
        color: #da5252;
        font-family: Passions Conflict, cursive;
        font-size: 60px;
    }

    h2 {
        font-size: 55px;
    }
}

.destination-image {
    display: flex;
    justify-content: center;
    gap: 20px 20px;
    flex-wrap: wrap;

    .image1 {
        position: relative;

        img {
            height: 200px;
            width: 300px;
            border-radius: 20px;
            object-fit: cover;
        }

        .destination-text {
            position: absolute;
            left: 15px;
            bottom: 25px;
            color: white;
            font-size: 22px;
            font-weight: bold;
        }
    }
}

/* button destination */
.button-dest {
    width: 80px;
    height: 40px;
    color: #da5252;
    float: right;
    margin-right: 50px;
    border: 2px solid #da5252;
    cursor: pointer;
    /* text-align: right; */
    /* padding: 15px; */
}

/* why choose us  */
.dest-choose {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* flex-wrap: wrap; */
    /* grid-template-columns: 50% 50%; */
    justify-content: space-between;
    padding: 30px;
    margin: 50px;
    column-gap: 50px;
}

.choose-text {
    /* width: 50%; */
    line-height: 1.5;

    div {
        color: #da5252;
        font-family: Passions Conflict, cursive;
        font-size: 40px;
    }

    h3 {
        font-size: 50px;
        font-weight: 200;
    }

    p {
        color: #a9a8b5;
        margin-top: 20px;
        font-size: 18px;
    }

    /* point of why choose us */
    .text-point {
        padding-top: 10px;

        i {
            color: white;
            background-color: #da5252;
            border-radius: 50%;
            /* padding: 3px; */
            font-size: 18px;
        }

        p {
            color: rgba(0, 0, 0, 0.648);
            font-family: 'Times New Roman';
            font-size: 20px;
            /* padding: 10px; */
        }
    }

    /* button */
    button {
        margin-top: 50px;
        width: 200px;
        height: 40px;
        letter-spacing: 2px;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        background-color: #da5252;
        font-size: 10px;
        border: hidden;
        padding: 15px;
    }

    button:hover {
        color: black;
    }
}

.choose-img {
    position: relative;
    /* width: 45%; */

    img {
        border-radius: 50%;
        height: 500px;
        width: 550px;
    }
}

.grey-circle,
.red-circle {
    position: absolute;
}

.grey-circle {
    background-color: #f5f0d5;
    top: -10px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    animation: circle 5s ease-in 0.2s infinite;

}

.red-circle {
    background-color: #da5252;
    height: 180px;
    width: 180px;
    z-index: -1;
    right: 65px;
    bottom: 15px;
    border-radius: 50%;
    animation: circle 5s ease-in 0.2s infinite;
}

/* circle animation */
@keyframes circle {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateX(30%);
    }


    100% {
        transform: translate(0%);
    }
}

/* about section */
.about-container {
    /* width: 90%; */
    margin: 40px;
}

.about-text {
    letter-spacing: 0.4px;
    line-height: 1.4;
    padding: 0px 50px;

    h2 {
        font-size: 30px;
        /* font-weight: 400; */

    }

    p {
        margin-top: 10px;
        color: #a9a8b5;
        font-size: 17px;
        text-align: justify;
    }
}

/* about section bottom part  */
.about-bottom {
    background-image: url(/assets/images/about/about.webp);
    /* height: 500px; */
    object-fit: cover;

    .text {
        position: scroll;
    }
}